@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
	font-family: 'Nunito Sans', Sans-serif	;
	background-color: #fff;
}
h1{
	font-size: 30px;
}
ul.top-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0059D1;
}

ul.top-nav li{
	float: left;
}

ul.top-nav li a{
	display: inline-block;
	color: #FFF;
	text-align: center;
	padding: 28px 30px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 23px;
}

ul.top-nav li a:hover{
	background-color: #1C9AFF;
}

ul.top-nav li.icon{display: none;}

@media screen and (max-width: 680px){
	ul.top-nav li:not(:nth-child(2)){display: none;}
	ul.top-nav li.icon{
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width: 680px){
	ul.top-nav.responsive{position: relative;}
	ul.top-nav.responsive li.icon{
		position: absolute;
		right: 0;
		top: 0;
	}

	ul.top-nav.responsive li{
		float: none;
		display: inline;
	}

	ul.top-nav.responsive li a{
		display: block;
		text-align: left;
	}
}
#menulogo{
	margin: 0;
	padding: 0;
}
#logo{
	width: 400px;
	margin-right: 90px;
}

/*Estilos con respecto a la pagina de contacto*/

.Titulo{
	border-bottom: 5px solid #0059D1;
	font-family: Oswald;
    text-align: center;
    color: #0059D1;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}


input[type=submit]:hover {
    background-color: #c0c0c0;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #0059D1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#Formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.Nom {
    text-align: center;
    color: #0059D1;
    font-size: 20px;
}

.form-input{
	padding-bottom: 10px;
}

.first-row{
	margin-top: 100px;
}

#mapa {
    
    